html {
    cursor: default;
    box-sizing: border-box;
    font-size: 8px;
    @media (min-width: $md) {
        font-size: 9px;
    }
    @media (min-width: $lg) {
        font-size: 10px;
    }
}

// Headings
h1, h2, h3, h4, h5 {
    font-family: $ff_headings;
}

h1 {
    font-size: 3rem;
    @media (min-width: $lg) {
        font-size: 4.25rem;
    }
}

h2, .heading {
    margin-bottom: 1.8rem;
    font-size: 2rem;
    @media (min-width: $md) {
        font-size: 2.2rem;
    }
}

/**
* Searchform block
*/
.searchform {
    padding: 1rem 0;
}

/**
* Searchinput block
*/
input[type="search"],
.searchinput  {
    padding: 1rem 2.5rem;
    border-radius: 18.5px;
    line-height: 1;
    border-color: transparent;
    &::placeholder {
        opacity: 0.8;
    }
}

/**
* Site-content block
*/
.site-content {
    padding-bottom: 6rem;
}

.site-content__col {
    margin-top: 5.5rem;
}