// This is used for static background-images and placeholders
$theme_url: '/logotype/wp-content/themes/test';

/**
* Breakpoints 
*/
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$xs_down: $xs - 1px;
$sm_down: $sm - 1px;
$md_down: $md - 1px;
$lg_down: $lg - 1px;
$xl_down: $xl - 1px;

/**
* Typeography 
*/

$ff_main: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$ff_headings: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/**
* Colors 
*/
$color_accent_1: #2073B2;
$color_accent_1_light: #00ACDD;
$color_accent_2: #EC9D13;